* {
    box-sizing: border-box;
}

:root {
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
}

/* ----------------------- Header ----------------------- */
header {
    background-color: yellowgreen;
    padding: 12px 15px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.5); */

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.title,
.cart-icon {
    display: inline-block;
}

.title {
    color: yellow;
    width: max-content;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin: 0;
    vertical-align: middle;
}

.cart-icon {
    background-image: url('img/cart\ icon.png');
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 35px;
    height: 35px;
    background-size: cover;
    vertical-align: middle;
    margin-left: calc(100% - 475px);
    cursor: pointer;

    position: relative;
}

.cart-icon:focus {
    outline: none;
}

.number-of-items-in-cart {
    background-color: red;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 5px;

    position: absolute;
    top: -2px;
    right: -7px;
}

/* ----------------------- Body ----------------------- */
main {
    margin-top: 80px;
    padding: 15px;
}

form.search-product > input {
    width: 375px;
    margin-left: 60px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    font-family: inherit;
    font-size: 20px;
    vertical-align: middle;
}

form.search-product > input:focus {
    outline: none;
    box-shadow: 0 0 0 3px skyblue;
}

.reset-icon {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 5px;
    color: grey;
    cursor: pointer;
}

.products {
    list-style: none;
    padding: 0;
}

.product {
    display: inline-block;
    width: 375px;
    margin: 0 60px 40px 60px;
    border-radius: 10px;
    background-color: wheat;
    overflow: hidden;
}

.image {
    background-size: cover;
    background-position: center;
    height: 200px;

    position: relative;
}

.category {
    background-color: black;
    color: white;
    padding: 0 5px;
    font-size: 20px;

    position: absolute;
    top: 0;
    right: 0;
}

.details {
    padding: 0 10px;
}

.details > * {
    margin: 10px 0;
    font-size: 18px;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.discounted-price > .value {
    font-size: 20px;
    font-weight: bold;
}

.add {
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    margin: 10px auto;
    padding: 8px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.add:active {
    background-color: rgb(0, 172, 0);
}

.add:focus {
    outline: none;
}

.message {
    font-size: 25px;
    margin-top: 250px;
    text-align: center;
    display: none;
}

.error {
    color: red;
}

.not-found {
    color: black;
}

/* ----------------------- Cart ----------------------- */
.cart-wrapper {
    background-color: rgb(255, 255, 0, 0.8);
    width: 500px;
    height: calc(100% - 80px);
    overflow-y: scroll;

    position: fixed;
    top: 80px;
    right: -500px;
    z-index: 2;

    transition: all 250ms linear;
}

.cart {
    padding: 20px;

    position: relative;
}

.cart__title {
    text-align: center;
    margin-top: 0;
}

.cart__header,
.cart__footer {
    padding-left: 40px;
}

.cart__header > *,
.cart__item > *,
.cart__footer > * {
    display: inline-block;
}

.cart__header > * {
    font-weight: bold;
    color: navy;
}

.cart__item {
    margin: 10px 0;
}

.cart__item-name {
    width: 24%;
}

.cart__item-weight {
    width: 15%;
    text-align: center;
}

.cart__item-quantity{
    width: 15%;
    margin-left: 15px;
    font-family: inherit;
}

.cart__item > .cart__item-quantity {
    border: 1px solid black;
    border-radius: 4px;
}

.cart__item > .cart__item-quantity:focus {
    outline: none;
    box-shadow: 0 0 0 2px skyblue;
}

.cart__item-price {
    width: 15%;
    margin-left: 20px;
    /* text-align: center; */
}

.cart__item-remove {
    width: 15%;
    text-align: center;
}

.cart__item > .cart__item-remove {
    font-size: 18px;
}

.cart__item > .cart__item-remove:hover {
    cursor: pointer;
    color: red;
}

form.purchase > button {
    display: none;
    margin: 10px auto 0 auto;
    font-family: inherit;
    font-size: 16px;
    padding: 7px 5px;
    cursor: pointer;
}

/* ----------------------- Checkout Form ----------------------- */
.checkout-form__wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.checkout-form__template {
    background-color: white;
    width: 550px;
    padding: 20px 15px;
    border-radius: 10px;

    position: relative;
    left: calc(calc(100% - 550px) / 2);
    top: calc(calc(100% - 428px) / 2);
}

.close {
    font-size: 18px;
    cursor: pointer;
    color: red;

    position: absolute;
    top: 5px;
    right: 5px;
}

.checkout-form__title {
    text-align: center;
    margin: 0 0 15px 0;
}

.checkout-form > label {
    display: block;
    margin-bottom: 15px;
}

.checkout-form .field-title {
    font-size: 13px;
    font-weight: bold;
}

#name,
#mobile-number,
#address {
    width: 250px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 4px;
    color: black;
    font-family: inherit;
    font-size: 18px;
    vertical-align: middle;
}

#name:focus,
#mobile-number:focus,
#address:focus {
    outline: none;
    /* box-shadow: 0 0 0 2px skyblue; */
}

.checkout-form .mobile-number-prefix {
    display: inline-block;
    padding: 3px 0 3px 3px;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 18px;
    /* background-color: gray;
    color: white; */
    color: gray;
    vertical-align: middle;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#mobile-number {
    width: calc(250px - 37.73px);
    padding-left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.validity {
    font-size: 12px;
    text-align: right;
    width: 250px;
    height: 14.4px;
}

#address {
    resize: none;
    width: 75%;
    height: 150px;
    font-size: 15px;
}

.checkout-form > button {
    display: block;
    margin:  0 auto;
    font-family: inherit;
    font-size: 16px;
    padding: 7px 5px;
    cursor: pointer;
}


